

<ng-moringa-table 
  title="BackLog"
  icon="bi bi-grid"
    [data]="data"
   [statusMap]="statusMap"
  [variant]="'round-card bordered  responsive'"
  [collapsible]="true"
  [progressBy]="'lost'"
  [filterBy]="'status'"
  [filterStyle]="['tabs', 'keyword', 'dropdown', 'date']"
  [pageSize]="3"
  [valueLenthColumns]="['email', 'organization', 'phone', 'tags']"
  mediaImage="assets/dummy.jpg"
  [Sorting]="true"
  [paginated]="true"
  [showActions]="true"
  [actionButtons]="[
    {
      label: 'Dropdown',
      tooltip: 'Dropdown for table',
      className: 'success',
      isDropdown: true,
      options: ['lead board', 'Actives', 'scheduled']
    },
    {
      label: 'Delete',
      icon: '',
      tooltip: 'Delete Lead',
      className: 'danger'
    },
   
  ]"
/>
