
<div class="container">
<ng-moringa-table 
  title="BackLog"
  icon="bi bi-grid"
    [data]="data"
   [statusMap]="statusMap"
  [variant]="'round-card bordered shadowed responsive'"
  [collapsible]="true"
  [progressBy]="'lost'"
  [filterBy]="'status'"
[filterStyle]="['tabs', 'keyword', 'dropdown', 'date']"

  
  [pageSize]="3"
   [valueLenthColumns]="['email', 'organization', 'phone', 'tags']"
  mediaImage="assets/dummy.jpg"
  [Sorting]="true"
  [paginated]="true"
  [showActions]="true"
  [actionButtons]="[
    {
      label: 'Transfer to',
      tooltip: 'Transfer to leads',
      className: 'icon-btn-success',
      isDropdown: true,
      options: ['lead board', 'Actives', 'scheduled']
    },
    {
      label: 'Delete',
      icon: 'bi bi-trash',
      tooltip: 'Delete Lead',
      className: 'icon-btn-danger'
    },
   
  ]"
/>
</div>