

<ng-matric-table
  title="main Tilte"
  icon="bi bi-grid"
  [headerButtons]="[
 
    {
      label: 'New',
      icon: 'bi bi-plus',
      tooltip: 'New Lead',
      className: 'danger',
      targetId: 'header-delete-btn'
    },
 

  ]"
  [viewTypes]="[
    {
      icon: 'bi bi-grid',
   
      tooltip: 'View as Grid',
      className: 'secondary',
      targetId: 'view-grid-btn'
    },
        {
      icon: 'bi bi-list',
      
      tooltip: 'View as Grid',
      className: 'secondary',
      targetId: 'view-grid-btn'
    },
    {
      icon: 'bi bi-pip',
     
      tooltip: 'View as pipelines',
      className: 'secondary',
      targetId: 'view-list-btn'
    }
  ]"
  [data]="data"
  [statusMap]="statusMap"
  [variant]="'round-card bordered  responsive'"
  [collapsible]="true"
  [progressBy]="'lost'"
  [filterBy]="'status'"
  [filterStyle]="['tabs', 'keyword', 'dropdown', 'date']"
  [pageSize]="3"
  [valueLenthColumns]="['email', 'organization', 'phone', 'tags']"
  mediaImage="assets/dummy.jpg"
  [Sorting]="true"
  [paginated]="true"
  [showActions]="true"
  [actionButtons]="[
    {
      label: 'Dropdown',
      tooltip: 'Dropdown for table',
      className: 'success',
      isDropdown: true,
      options: ['lead board', 'Actives', 'scheduled']
    },
    {
      label: 'Delete',
      icon: '',
      tooltip: 'Delete Lead',
      className: 'danger'
    },
   
  ]"
/>
